MyFileItDirectAmbassador/Service References/MyFileItPEService/MyFileItPEMainService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyFileItPEService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyFileItPEService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReferralDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferralDTO" nillable="true" type="tns:ReferralDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferralDTO" nillable="true" type="tns:ArrayOfReferralDTO" />
  <xs:complexType name="ReferralDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDRESS2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHECKINGACCOUNTNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATECREATED" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DISCOUNTAMOUNT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="EMAILADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIRSTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IMAGENAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LASTLOGINDATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LASTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOBILEPHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWORD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERRALCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROUTINGNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferralTransactions" nillable="true" type="tns:ArrayOfReferralTransactionDTO" />
      <xs:element minOccurs="0" name="STATECODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="YTDCommission" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ZIPCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferralDTO" nillable="true" type="tns:ReferralDTO" />
  <xs:complexType name="ArrayOfReferralTransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferralTransactionDTO" nillable="true" type="tns:ReferralTransactionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferralTransactionDTO" nillable="true" type="tns:ArrayOfReferralTransactionDTO" />
  <xs:complexType name="ReferralTransactionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMMISSIONAMOUNT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="COMMISSIONPAID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DATECREATED" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REFERRALID" type="xs:int" />
      <xs:element minOccurs="0" name="SHAREKEYID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferralTransactionDTO" nillable="true" type="tns:ReferralTransactionDTO" />
</xs:schema>